Repository instana/python-sensor, pull requests merged in 2025-03, with the labels that each got.

#705 currency: added release date and days behind support
  .tekton/.currency/docs/report.md
  .tekton/.currency/scripts/generate_report.py
Labels: currency

#710 ci: Add support to test Python 3.14.0a6.
  .circleci/config.yml
  .tekton/pipeline.yaml
  .tekton/python-tracer-prepuller.yaml
  run_tests.sh
Labels: Review & Merge, currency

#707 ft: add fup support for dynamodb
  src/instana/agent/host.py
  src/instana/util/span_utils.py
  src/instana/util/traceutils.py
  tests/agent/test_host.py
  tests/clients/boto3/test_boto3_dynamodb.py
  tests/util/test_span_utils.py
  tests/util/test_traceutils.py
Labels: enhancement, FUP

#714 chore(version): Bump version to 3.4.0
  src/instana/version.py
Labels: Review & Merge, new_version
