Repository instana/python-sensor, pull requests merged in 2025-08, with the labels that each got.

#771 chore(version): Bump version to 3.7.0
  src/instana/version.py
Labels: Review & Merge, new_version

#775 chore(version): Bump version to 3.7.1
  src/instana/version.py
Labels: new_version

#783 chore(version): Bump version to 3.7.2
  src/instana/version.py
Labels: new_version

#789 Internal Span Filtering
  src/instana/instrumentation/urllib3.py
  tests/clients/test_urllib3.py
Labels: fix

#792 chore(version): Bump version to 3.8.0
  src/instana/version.py
Labels: Review & Merge, new_version
